.box-custom-shadow{
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5);
}
.gold-color{
  color:#ffc65c;
}
  /* .custom-modal-credit-icon{
        width:35px;
        height:35px;
    }
    .middlebox{
      margin-bottom: -10px;;
    }
    .custom-modal-credit-icon-lighter{
        width:48px;
        height:48px;
    }
    .box-custom-shadow-stronger{
      
    }
    .fa-xmark{
        margin-bottom: 4px;
    }
    @media (min-width: 800px) {
      .grid-cols-1 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        align-items: end;
      }
    }
    .taller-box {
        height: 110%; /* Adjust this value as needed 
        display: flex;
        flex-direction: column;
        justify-content: center;
    } */
.box-custom-shadow-stronger:hover{
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.5);
}
.box-custom-shadow-stronger{
  transition: 0.3s;
}
button {
  transition: 0.3s;
}
 :root {
    --primary-color: #3B82F6; 
  }
  .main-color-background{
    background-color: var(--primary-color);
  }  
  .main-color {
    color: var(--primary-color);
  }
  .hover-box-shadow-srtong{
    transition: 0.3s;
  }
  .hover-box-shadow-srtong:hover{
    box-shadow: 0 0 25px rgba(59, 130, 246, 0.5) !important;
}
  .hover-box-shadow:hover{
    box-shadow: 0 0 15px rgba(59, 130, 246, 0.5) !important;
}
.custom-box-shadow-green
{
  box-shadow: 0 0 15px rgba(74, 222, 128, 0.5);

}
.hover-box-shadow-green:hover{
  box-shadow: 0 0 15px rgba(74, 222, 128, 0.5);
}
.hover-box-shadow-green{
  transition: 0.3s;
}
.hover-box-shadow{
  transition: 0.3s;
}
.hover-x-shadow:hover{
  text-shadow: 0 0 15px rgba(246, 59, 59, 0.5),
  0 0 20px rgba(246, 59, 59, 0.4),
  0 0 30px rgba(246, 59, 59, 0.3),
  0 0 40px rgba(246, 59, 59, 0.2);
}

.hover-x-shadow{
  transition: 0.3s;
}
.negative{
  margin-top:-100px
}
.negative2{
  margin-top:-40px;
  width:1600px
}
.glow-text {
  text-shadow: 0 0 10px rgba(59, 130, 246, 0.5), 
  0 0 20px rgba(59, 130, 246, 0.4),
  0 0 30px rgba(59, 130, 246, 0.3),
  0 0 40px rgba(59, 130, 246, 0.2);
}
.text-hover-color{
  transition: 0.3s;
}
.text-hover-color:hover{
  color:rgb(236, 236, 236);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111827;
  
}

::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 10px;
}

#sidebarToggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left:-10px;
  width:40px;
  height:35px;
  border-radius: 9999px;
  transform: 0.3s;
}
#toggleIcon{
  transform: 0.3s;
  margin-left:5px;
}
#sidebarToggle.open {
  width:35px;

  left: calc(3.5rem - 1.5rem);
}
#sidebarToggle.open #toggleIcon{
  margin-left:0px !important; 

}
#sidebarToggle.open #toggleIcon {
  transform: rotate(0deg) !important;
}
/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #1F2937 #374151;
}
.rights{
  bottom: 30px;
}
.custom-container-size{
  max-width:90% !important;
}
.custom-container-width{
 width:85% !important;
}


  @media (max-width: 1000px) {
    .custom-container-width{
      width:80% !important;
     }
     .custom-container-width h1{
      font-size:20px !important;
     }
  }
  @media (max-width: 800px) {
    .custom-container-width{
      width:75% !important;
     }
  }
  @media (max-width: 500px) {
    .custom-container-width{
      width:71% !important;
     }
  }
  @media (max-width: 350px) {
    .custom-container-width{
      width:60% !important;
     }
  }

    .download-cell:hover .download-link,
    .download-cell:hover .download-icon {
        color: #ebebeb; /* Change this to your desired hover color */
        transition: color 0.3s ease;
    }
.testingthis{
  overflow-y: hidden !important;
}
.custom-text{
  font-size: 12px !important;
}
.logo{
  width:120px
}  .custom-modal-credit-icon{
  width:35px;
  height:35px;
}
.custom-modal-credit-icon-lighter{
  width:48px;
  height:48px;
}
.fa-xmark{
  margin-bottom: 4px;
}
.custom-modal-width{
  width:500px;
}
